kibana:
    host: kibana-kibana.sandbox-elasticsearch:5601

autoIndexPattern:
    enabled: false
    schedule: "*/1 * * * *"
    concurrency: 10
    generalPatterns:
        -   pattern: logs-mcoins-marketing-*
            timeFieldName: "timestamp"

refreshIndexPattern:
    enabled: false

logging:
    level: info
    color: false
    format: json
    debug: false
